<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload and Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Video Upload and Processing</h1>
    <div class="container">
        <div class="section">
            <h2>Upload Files</h2>
            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" id="file-input" name="file" multiple>
                <button type="button" class="process-button" onclick="uploadFiles()">Upload</button>
            </form>
            <div class="buttons">
                <button type="button" class="info-button" onclick="listUploadedFiles()">List Current Uploaded Files</button>
                <button type="button" class="delete-button" onclick="deleteAllInputFiles()">Delete All Uploaded Files</button>
            </div>
            <div id="upload-status"></div>
        </div>
        
        <div class="section">
            <h2>Process Files</h2>
            <div class="buttons">
                <button type="button" class="process-button" onclick="processFiles()">Process All Unprocessed Uploaded Files</button>
                <button type="button" class="info-button" onclick="checkAllStatus()">Check Processing Status</button>
                <button type="button" class="delete-button" onclick="resetProcessingState()">Reset Processing Status</button>
            </div>
            <div id="process-status"></div>
        </div>
        
        <div class="section">
            <h2>Manage Results</h2>
            <div class="buttons">
                <button type="button" class="info-button" onclick="listProcessedResults()">List Current Result Files</button>
                <button type="button" class="info-button" onclick="downloadAllResults()">Download All Result Files</button>
                <button type="button" class="delete-button" onclick="deleteAllOutputFiles()">Delete All Result Files</button>
            </div>
            <div id="results"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
